@media (min-width: 768px) {
  label.col-form-label {
    width: 17%;
  }
  input.form-control {
    max-width: 20em;
  }
}
@media (max-width: 575px) {
  main {
    margin-top: 5.5em;
  }
  #receipt,
  #edit-receipt {
    margin: 0 1em 0 0;
  }
  #receipt img {
    margin: 0 0.25em;
  }
}
#menu {
  overflow-y: hidden;
}
#nav-bar span {
  color: white;
}
div.edit-icons {
  white-space: nowrap;
}
.icon {
  width: 1em;
}
h2 {
  padding: 0.25em 0.9em;
}
label,
input.form-control {
  margin-right: 0.5em;
}
#add-receipt,
#edit-receipt {
  display: none;
}
#receipt-list {
  margin-left: 0.9em;
}
#receipt-list img {
  margin: 0 0.5em;
}
#nav-bar, .nav-pills .nav-link.active,.btn-primary{
  background: #259182;
}
.nav-pills .nav-link{
  background: #fff;
  color: #5ec2b1;
}
p{
  font-size: 16pt;
  font-family: sans-serif;
  letter-spacing: 1px;
}
