  <nav id="nav-bar" class="navbar navbar-expand-md fixed-top">
    <!--- nav-bar.html -->
  </nav>
  <div class="container-fluid">
    <div class="row">
      <nav id="menu" class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
        <!--- menu.html -->
      </nav>
      <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
        <section id="receipt" class="row placeholders">
        </section>
        <section id="edit-receipt" class="row placeholders">
        </section>
        <section id="print-receipt" class="row placeholders">
        </section>
      </main>
    </div>
  </div>
