<h2>Edit Receipt</h2>
<div class="container">
<form id="edit-receipt-form">
  <div class="container-fluid">
    <div class="form-group row shown-for-edit">
      <label class="col-xs-2 col-form-label" for="id">Receipt ID</label>
      <input class="col-xs-5 form-control" type="text" id="id" name= "id"
        aria-describedby="personIdHelpInline" readonly>
      <small id="personIdHelpInline" class="col-xs-5 align-top form-text text-muted">
        The number assigned to the receipt below.</small>
    </div>
    <div class="form-group row shown-for-edit">
      <label class="col-xs-2 col-form-label" for="person_name"> Name</label>
      <input class="col-xs-5 form-control" type="text" id="person_name" name= "person_name"
        aria-describedby="nameHelpInline">
      <small id="nameHelpInline" class="col-xs-5 align-top form-text text-muted">
        A person's name.</small>
    </div>
    <div class="form-group row shown-for-edit">
      <label class="col-xs-2 col-form-label" for="contact_number">Contact Number</label>
      <input class="col-xs-5 form-control" type="text" id="contact_number" name= "contact_number"
        aria-describedby="ContactNumberHelpInline">
      <small id="ContactNumberHelpInline" class="col-xs-5 align-top form-text text-muted">
        Contact Number.</small>
    </div>
    <div class="form-group row shown-for-edit">
      <label class="col-xs-2 col-form-label" for="exhibitor">Exhibitor</label>
      <input class="col-xs-5 form-control" type="text" id="exhibitor" name= "exhibitor"
        aria-describedby="ExhibitorHelpInline">
      <small id="ExhibitorHelpInline" class="col-xs-5 align-top form-text text-muted">
       Booth Name.</small>
    </div>
    <div class="form-group row shown-for-edit">
      <label class="col-xs-2 col-form-label" for="total_amount">Total Amount</label>
      <input class="col-xs-5 form-control" type="text" id="total_amount" name= "total_amount"
        aria-describedby="totalAmountHelpInline">
      <small id="totalAmountHelpInline" class="col-xs-5 align-top form-text text-muted">
        Total Amount.</small>
    </div>
    <div class="form-group row">
      <label class="col-xs-2 col-form-label" for="qty">Qunatity for Print</label>
      <input class="col-xs-5 form-control" type="number" id="qty" name= "qty"
        aria-describedby="qtyHelpInline">
      <small id="qtyHelpInline" class="col-xs-5 align-top form-text text-muted">
        Qty.</small>
    </div>
    <div class="form-group row offset-sm-1">
        <button class="col-sm-auto m-1 btn btn-primary justify-content-start p-0.5" name="update_only" 
        id="edit-receipt-submit" type="submit">Update</button>        
        <button class="col-sm-auto m-1 btn btn-primary justify-content-start p-0.5" name="update_and_print" 
        id="edit-and-print-receipt-submit" type="submit">Update And Print</button>        
      </div>

    </div>
  </div>
</form>
</div>
