<ul class="nav nav-pills flex-column">
  <li class="nav-item">
    <a class="nav-link active receipt" href="#" onclick="window.view.listReceipt(this)">
      Receipt <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link add" href="#" onclick="window.view.addReceipt(this)">Add</a>
  </li>
</ul>
