<div class="row container">
  <div class="col-md-6">
    <h2>Receipts</h2>
  </div>
  <div class="col-md-6">
    <h2 id="all_amount" style="float:right;color:#5ec2b1;"></h2>
  </div>
</div>



<table class="container table-striped">
  <thead>
    <tr>
      <th scope="col">#id</th>
      <th scope="col">Name</th>
      <th scope="col">Contact Number</th>
      <th scope="col">Exhibitor</th>
      <th scope="col">Total Amount</th>
      <th scope="col">Qty</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody id="receipt-list"></tbody>
</table>
